@import url('https://fonts.googleapis.com/css?family=Slabo+27px');
html,
body{
    background-color: #b0e0e6;
    text-align: center;
    font-family: 'Slabo 27px', serif;
    min-width: 320px;
}
.form-module{
    border-radius: 4px;
    font-size: 20px;
}
.login-module{
    border-radius: 4px;
    font-size: 20px;
    background-size: contain;
    background-image: url("../images/background.jpg");
}
.dn{
    display: none;
}